/* .search {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
	border-bottom: 1px solid #e2e8f0;
}

.search__heading {
    margin: 10px;
    font-size: 24px;
    font-weight: 800;
}

.search__form {
    display: flex;
    justify-content: center;
	align-items: center;
    gap: 30px;
}

.search__input-wrapper {
    width: 500px;
	position: relative;
}

.search__input {
    border: 1px solid #e2e8f0;
    padding: 5px;
    border-radius: 4px;
    max-width: 520px;
}

.search__history-container {
    background-color: aliceblue;
    color: black;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.history__item {
    width: 500px;
    text-align: left;
    padding: 5px;
    font-size: 14px;
}

.search__button {
    background-color: #e2e8f0;
    color: black;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    width: 100px;
    height: 36px;
}

.disabled__button {
    cursor: not-allowed;
}

.ingredients__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin: 5px 0;
    margin-inline: auto;
    width: 700px;
} */